.project-outer-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  padding: 0;
  height: 100vh;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  padding: 10px;
}

.projects-text {
  font-size: 2em;
  padding: 10px;
}