.project-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 0;
  height: 100vh;
  align-items: center;
  margin: auto;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  padding: 10px;
}

.projects-text {
  font-size: 3em;
  padding: 10px;
  text-align: center;
}

.project-item {
  padding: 20px;
}