.topbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  position: fixed;
}

.btn-group {
  width: 32em;
}

.nav-btn {
  color: white;
  background-color: black; /* Primary color */
  padding: 8px 16px;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  width: 8em;
  opacity: 1;
}

.nav-btn:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .topbar-container {
    justify-content: flex-start;
    margin-left: 10px;
  }
}
